Package: nlines
Version: 0.0.0
Section: devel
Priority: optional
Maintainer: Blake Huber <blakeca00@gmail.com>
Bugs: ISSUES_URL
Installed-Size: 182 kB
Build-Depends: debhelper (>=9)
Depends:  DEPLIST
Download-Size: 48 kB
Standards-Version: 3.9.6
Architecture: BUILD_ARCH
Description: Commandline utility to count lines of ascii text
  files and display color coded results.  Binary files are skipped.
  nlines has a user-defined exclusions list used to tell the program which file
  extensions should not be counted.
Homepage: PROJECT_URL
